<!-- footer start-->
<footer class="footer ">
    <div class="container">
        <div class="row footer-top">
            <div class="col-sm-6 col-lg-1"><div id="footer-logo"></div></div>
            <div class="col-sm-6  col-lg-5 col-lg-offset-1">
                <div class="row about">
                    <div class="col-xs-3">
                        <h4>合作方</h4>
                        <ul class="list-unstyled">
                            <li><a target="_blank" href="http://www.cqvip.com/cps/index.asp">网站联盟</a></li>
                            <li><a target="_blank" href="http://www.cqvip.com/links/links.shtml">友情链接</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-3">
                        <h4>客服</h4>
                        <ul class="list-unstyled">
                            <li><a target="_blank" href="http://service.cqvip.com/">客服中心</a></li>
                            <li><a target="_blank" href="http://www.cqvip.com/corp/adv.shtml">广告服务</a></li>
                            <li><a target="_blank" href="http://www.cqvip.com/productor/pro_zk.shtml">产品服务</a></li>
                            <li><a target="_blank" href="http://www.cqvip.com/vipcard/vipcard.shtml">售卡网点</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-3">
                        <h4>关于</h4>
                        <ul class="list-unstyled">
                            <li><a href="/">网站首页</a></li>
                            <li><a target="_blank" href="http://www.cqvip.com/corp/contactus.shtml">联系我们</a></li>
                            <li><a target="_blank" href="http://www.cqvip.com/corp/about.shtml">关于我们</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-bottom">
            <ul class="list-inline text-center">
                <li>版权所有©2001-2015 渝B2-20050021-1　渝公网备</li>
                <li>互联网出版许可证 新出网证(渝)字10号</li>
            </ul>
        </div>
    </div>
</footer>
<!-- footer end-->

<!-- Placed at the end of the document so the pages load faster -->
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/jquery.form.js"></script>
<script src="/javascripts/bootstrapValidator.min.js"></script>
<script src="/javascripts/jasny-bootstrap.min.js"></script>
<script src="/javascripts/site.js"></script>
<%-scripts%>
</body>
</html>